<html>
<head></head>
<body>
<div>
    <p>Вы зарегистрировались на cinema.deadkash.ru</p>
    <p>
        Ваш логин: {{ user.login }}<br>
        Ваш пароль: {{ user.password }}<br>
    </p>
    <p>Для завершения регистрации пройдите по <a href="{{ url }}">ссылке</a></p>
</div>
</body>
</html>