{% if items %}
    <ol class="breadcrumb">
        {% for item in items %}
            <li>
                {% if not item.default %}
                    <a href="{{ item.href }}">{{ item.title }}</a>
                {% else %}
                    <span>{{ item.title }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}
