# SamCMS 2013
# Copyright (c) 2013, Kash <deadkash@gmail.com>
RewriteEngine On
Options +FollowSymlinks
Options -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) index.php?%{QUERY_STRING}