# SamCMS 2013
# Copyright (c) 2013, Kash <deadkash@gmail.com>
ErrorDocument 404 /404.php
Options +FollowSymlinks
Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} ![.][^\/]*$
RewriteRule ^(.*) index.php?%{QUERY_STRING}