<!DOCTYPE html>
<html>
<head>
    <title>{{ documentTitle }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap3/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/admin/templates/bootstrap3/css/main.css" />
    {% for c in css %}<link rel="stylesheet" href="{{ c }}"/>{% endfor %}
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/admin/templates/bootstrap3/js/popup-message.js"></script>
    <script type="text/javascript" src="/admin/templates/bootstrap3/js/list.js"></script>
    {% for j in js %}<script type="text/javascript" src="{{ j }}"></script>{% endfor %}
</head>
<body>
<div class="container">
    {{ component }}
</div>
</body>
</html>
