<div>
    <div class="post">
        <h2>{{ material.title }}</h2>
        <p class="posted">{{ material.date }}</p>
        <div class="entry">{{ material.fulltext }}</div>
    </div>
    <p><a href="javascript: history.go(-1);">{{ ln.materials_back }}</a></p>
</div>