<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Мастер установки SamCMS</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="/install/components/builder/assets/css/main.css"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Шаг 2 <small>Создание пользователя</small></h1>
    </div>
    <form class="form-horizontal">
        <div class="control-group">
            Необходимо создать учетную запись администратора системы управления. Используя данные, введенные ниже, вы будете заходить в систему администрирования.
        </div>
        <div class="control-group">
            <label class="control-label" for="login">Логин</label>
            <div class="controls">
                <input type="text" id="login">
                <p class="muted"><small>Логин должен состоять из латинских букв и цифр</small></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" id="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Пароль</label>
            <div class="controls">
                <input type="password" id="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirm_password">Повторите пароль</label>
            <div class="controls">
                <input type="password" id="confirm_password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-info">Дальше <i class="icon icon-arrow-right icon-white"></i></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>