<html>
<head></head>
<body>
<div>
    <p>Вы запросили восстановление пароля на {{ host }}</p>
    <p>Вы можете установить новый пароль, перейдя по <a href="{{ url }}">ссылке</a>.</p>
</div>
</body>
</html>