{#<div class="b-formbox form-recover">#}
    {#{% if errors %}#}
    {#<div class="alert fade in alert-danger">#}
        {#<button class="close" data-dismiss="alert">×</button>#}
        {#{% for error in errors %}#}
        {#{% if error == 'dont_match' %}Введенный пароли не совпадают.<br>{% endif %}#}
        {#{% if error == 'short_pass' %}Введенный пароль слишком короткий.<br>{% endif %}#}
        {#{% endfor %}#}
    {#</div>#}
    {#{% endif %}#}
    {#<p>Введите новый пароль, а потом введите его еще раз, чтобы наверняка запомнить.</p>#}
    {#<form class="well form-inline" method="POST" action="">#}
        {#<input name="pass" type="password" class="input-medium" placeholder="Пароль">#}
        {#<input name="pass2" type="password" class="input-medium" placeholder="Повторить пароль">#}
        {#<input type="hidden" name="code" value="{{ code}}" />#}
        {#<button type="submit" name="step" value="4" class="btn">Отправить</button>#}
    {#</form>#}
    {#<div class="login-links">#}
        {#<a href="{{ auth }}">Я вспомнил пароль!</a>#}
    {#</div>#}
{#</div>#}

<div class="container">
    {% if errors %}
        <div class="alert fade in alert-danger">
            <button class="close" data-dismiss="alert">×</button>
            {% for error in errors %}
                {% if error == 'dont_match' %}Введенный пароли не совпадают.<br>{% endif %}
                {% if error == 'short_pass' %}Введенный пароль слишком короткий.<br>{% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <form class="form-signin" method="POST" action="">
        <h3 class="form-signin-heading">Введите новый пароль, а потом введите его еще раз, чтобы наверняка запомнить.</h3>
        <input name="pass" type="password" class="form-control" placeholder="Пароль">
        <input name="pass2" type="password" class="form-control" placeholder="Повторить пароль">
        <input type="hidden" name="code" value="{{ code}}" />
        <button type="submit" name="step" value="4" class="btn btn-lg btn-primary btn-block">Отправить</button>
        <div class="login-links">
            <a href="{{ auth }}">Я вспомнил пароль!</a>
        </div>
    </form>
</div>