<select name="{{ param.name }}" id="{{ param.name }}" class="form-control">
    {% for option in param.options %}
        <option value="{{ option.name }}" {% if option.selected %}selected="selected"{% endif %}>{{ option.title }}</option>
    {% endfor %}
</select>