<form style="padding: 0;margin: 0;background: none;border: none;" method="GET" action="{{ url }}">
    <input type="text" class="input-medium search-query" name="keyword">
    <button type="submit" class="btn">{{ ln.search_send }}</button>
</form>