<select name="{{ param.name }}" id="{{ param.name }}">
    {% for option in param.options %}
        <option value="{{ option.id }}" {% if option.selected %}selected="selected"{% endif %}>{{ option.id }}</option>
    {% endfor %}
</select>