<div class="menu-add">
    <h1>Редактирование группы</h1>
    <form action="{{ url }}" class="form-horizontal" method="POST">
        <div class="control-group">
            <label class="control-label">ID</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ group.id }}</span>
            </div>
        </div>
        <div class="control-group{% if errors.group_upd %} error{% endif %}">
            <label class="control-label" for="name">Заголовок</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="name" name="name" value="{{ group.name }}">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="hidden" name="task" value="update" />
                <input type="hidden" name="group_id" value="{{ group.id }}" />
                <button class="btn" type="submit">Сохранить</button>
                <button class="btn" type="button" onclick="history.back();">Отмена</button>
            </div>
        </div>
    </form>
</div>